* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #222f3e;
}

.coordinates {
    font-family: Arial, Helvetica, sans-serif;
    color: #f5f6fa;
    font-size: 20px;
    margin-bottom: 15px;
}